.container{
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}

h3 {
    color: #FE654F;
}

.movie-release-date {
    color: #FEF4DD;
}

.bg {
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 50rem 80rem;
    /* opacity: 0.3; */
    width: 110vw;
    height: 76.5vw;
}

.bg-poster {
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 50rem 80rem;
    /* opacity: 0.3; */
    width: 110vw;
    height: 76.5vw;
}

.bg-layer {
    /* background-color: rgba(248, 247, 216, 0.7); */
    /* background-color: rgba(250, 240, 202, 0.8); */
    /* background-color: rgba(255,250,250, 0.9); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 23, 30, 0.81)
}

.main-poster {
    position: absolute;
    top: 0;
    right: 0;
    width: 25vw;
    padding: 3.5rem 3rem;
    background-color: #01161C;
    border: 0.3px solid #A89787;
}

.categories {
    margin: 0;
    padding: 0;
    color: #A89787;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 1px;
    text-align: left;
}

.description-wrapper {
    margin-left: 3rem;
}

.description {
    margin: 2rem 1rem 1rem 0;
    color: #A89787;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 1px;
    text-align: left;
}

.movie-info {
    margin: 2rem;
}

.movie-title {
    /* color: #A89787; */
    /* color: #FEF4DD; */
    font-weight: 200;
    font-size: 40px;
    font-style: normal;
    letter-spacing: 1px;
}

.cast-title {
    margin-left: 3rem;
}

.actor-name {
    color: #A89787;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 1px;
    text-align: left;
}

.similar-movies-wrapper {
    margin-top: 9rem;
}

ul {
    display: flex;
    padding-inline-start: 50px;
    list-style: none;
}

li {
    padding-right: 1rem
}

.similar-movie-poster {
    width: 9vw;
}

.movie-page-title {
    margin: 0 8rem;
}

.slash {
    padding-right: 0.5rem;
}

