.movie-page-top {
    position: relative;
    min-width: 100%;
}   

h1 {
    margin: 0 8rem;
    /* color: #FE654F; */
    background: -webkit-linear-gradient(#A89787, #EC7D10);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 10rem;
    text-align: center;
}
         /* PAGE TOP BACKGROUND */
/* 
        .poster {
            width: 100vw;
            height: 50vw;
            display: block;
        }
        
        .bg-layer {
            position: absolute;
            top: -12px;
            left: 0;
            width: 100%;
            height: 105%;
            background-color: rgba(1, 23, 30, 0.82)
        } */
        
        /* .page-title {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        } */

h3 {
    color: #FE654F;
    font-weight: 200;
    font-size: 40px;
    font-style: normal;
    letter-spacing: 1px;
}

.movie-release-date {
    color: #FEF4DD;
}

.bg-movie {
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 50rem 80rem;
    width: 110vw;
    height: 76.5vw;
}

.bg-movie-poster {
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 50rem 80rem;
    width: 110vw;
    height: 76.5vw;
}

.bg-layer-movie {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 23, 30, 0.81);
}

.main-poster {
    position: absolute;
    top: 0;
    right: 5rem;
    width: 25vw;
    padding: 3.5rem 3rem;
    background-color: #01161C;
    border: 0.3px solid #A89787;
}

.categories {
    margin: 0;
    padding: 0;
    color: #A89787;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 1px;
    text-align: left;
}

.description-wrapper {
    margin-left: 3rem;
}

.description {
    margin: 2rem 1rem 1rem 0;
    color: #A89787;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 1px;
    text-align: left;
}

.movie-info {
    margin: 3rem;
}

/* .movie-title {
    font-weight: 200;
    font-size: 40px;
    font-style: normal;
    letter-spacing: 1px;
} */

.cast-title {
    margin-left: 3rem;
}

.actor-name { 
    padding-right: 1rem;
    color: #A89787;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 1px;
    text-align: left;
}

.similar-movies-wrapper {
    margin-top: 6rem;
}

ul { 
    display: flex;
    margin-left: 0.5rem;
    list-style: none;
}

li { 
    padding-right: 1rem;
}

.buttons { 
    display: flex;
    margin: 0 3rem;   
}

.similar-movie-poster {
    width: 9vw;
}

/* .movie-page-title { 
    margin: 0 8rem;
} */

.slash { 
    padding-right: 0.5rem;
}

