.top-wrapper {
    position: relative;
    min-width: 100%;
}

.poster {
    width: 100vw;
    height: 40vw;
    display: block;
}

.bg-layer {
position: absolute;
top: 0px;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(1, 23, 30, 0.75)
}

.page-title {
    position: absolute;
    top: -7rem;
    left: 0;
    z-index: 1;
    font-size: 146px;
}

/* .poster {
    width: 100vw;
    height: 60vw;
    display: block;
} */

/* PAGE BACKGROUND */

  /* .bg-layer {
    position: absolute;
    top: -12px;
    left: 0;
    width: 100%;
    height: 105%;
    background-color: rgba(1, 23, 30, 0.82)
  } */

  /* .page-title {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
  } */

/* h2 {
    margin: 0;
    padding: 5rem;
    color: black;
    text-align: center;
} */

h1 {
    margin: 6rem 8rem;
    /* color: #FE654F; */
    background: -webkit-linear-gradient(#A89787, #EC7D10);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 10rem;
    text-align: center;
}



/* .wrapper {
    width: 100%;
    height: 100vh;
    background-color: white;
} */

h4 {
    color: #A89787;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 1px;
}

#title, #release-date, #description {
    /* color: #0D3B66; */
    color: #A89787;
}

.update-form-wrapper {
    width: 120%;
    height: auto;
    padding: 2rem 1rem;
    background-color: #01161C;
}

.update-form-top-wrapper {
    display: flex;
    margin-top: 2rem;
    padding-left: 1rem;
}

.update-form-description-wrapper {
    display: flex;
    margin-top: 2rem;
    padding-left: 1rem;
}

.update-form-genres {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
}

.update-form-actors {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
}

.update-form-similar-movies {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
}

.update-form-bottom-wrapper {
    display: flex;
    margin: 2rem 1rem;
}